In [7]:
%%capture
%run utils.ipynb

# Data

S&P500 call options with different strike prices and maturities. 
* Sheets: different maturities (total 12)
* Columns: different strike prices
* Rows: time series of price evolution

In addition
* 1st column: days to maturity
* 3rd last column: spot price of S&P500 index (1000 units)
* 2nd last column: riskless interest rate

Note: prices of call are per 1000 units (as are spot prices for underlying)

In [8]:
xls = pd.ExcelFile('isx2010C.xls')

In [67]:
# The file of options price evolution contains corrupted data points.
# Problem is in the decimal separator, e.g. in the file 1375.00 should be 1.375
def check_data(df):
    def f(x):
        # arbitrary threshold which no call price should exceed
        if x > 500: 
            return x/1000 
        return x
    N = len(df.columns)
    last = df.iloc[:,-3:]
    m = df.iloc[:,0:N-3].applymap(f)
    return pd.concat([m,last],axis=1)

In [72]:
def get_sheet(name):
    sheet = pd.read_excel(xls, name)
    sheet.rename(columns={sheet.columns[0]:'days_to_mat',sheet.columns[-3]:'sp500_spot',sheet.columns[-2]:'rf'},inplace=True)
    return check_data(sheet)

For example data for call option maturing at 15.01.2010

In [73]:
get_sheet('isx15012010C')

,days_to_mat,340,345,350,355,360,365,370,375,380,...,540,545,550,555,560,565,570,sp500_spot,rf,date
0,86,152.20,NaN,NaN,NaN,132.60,NaN,NaN,NaN,113.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,491.34,0.11,21.9.2009
1,85,155.05,NaN,NaN,NaN,135.35,NaN,NaN,NaN,115.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,494.35,0.11,22.9.2009
2,84,152.40,NaN,NaN,NaN,132.70,NaN,NaN,NaN,113.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,490.36,0.11,23.9.2009
3,83,147.00,NaN,NaN,NaN,127.25,NaN,NaN,NaN,108.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,486.99,0.11,24.9.2009
4,82,145.55,NaN,NaN,NaN,125.95,NaN,NaN,NaN,106.75,...,3.80,NaN,NaN,NaN,1.525,NaN,NaN,484.11,0.11,25.9.2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,5,185.50,180.50,175.50,170.50,165.50,160.50,155.50,150.50,145.50,...,0.10,0.07,0.05,0.05,0.050,0.05,0.05,524.29,0.06,12.1.2010
82,4,188.55,183.55,178.55,173.55,168.55,163.55,158.55,153.55,148.55,...,0.15,0.07,0.05,0.05,0.050,0.15,0.15,527.93,0.06,13.1.2010
83,3,190.10,185.10,180.10,175.10,170.10,165.10,160.10,155.10,150.10,...,0.05,0.05,0.02,0.05,0.050,0.15,0.05,529.59,0.06,14.1.2010
84,2,184.10,179.10,174.10,169.10,164.10,159.10,154.10,149.10,144.10,...,0.05,0.05,0.01,0.05,0.050,0.05,0.05,524.11,0.05,15.1.2010
85,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN