In [61]:
%%capture
%run utils.ipynb

Most of the utility functions are implemented in 'utils.ipynb'.

# Data

S&P500 call options with different strike prices and maturities. 
* Sheets: different maturities (total 12)
* Columns: different strike prices
* Rows: time series of price evolution

In addition
* 1st column: days to maturity
* 3rd last column: spot price of S&P500 index (1000 units)
* 2nd last column: riskless interest rate

Note: prices of call are per 1000 units (as are spot prices for underlying)

In [62]:
xls = pd.ExcelFile('isx2010C.xls')
isx15012010C = pd.read_excel(xls, 'isx15012010C')
isx15012010C.rename(columns={isx15012010C.columns[0]:'days_to_mat',isx15012010C.columns[48]:'sp500_spot',isx15012010C.columns[49]:'rf'},inplace=True)

For example data for call option maturing at 15.01.2010

In [63]:
isx15012010C.head()

,days_to_mat,340,345,350,355,360,365,370,375,380,...,540,545,550,555,560,565,570,sp500_spot,rf,date
0,86,152.20,NaN,NaN,NaN,132.60,NaN,NaN,NaN,113.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,491.34,0.11,21.9.2009
1,85,155.05,NaN,NaN,NaN,135.35,NaN,NaN,NaN,115.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,494.35,0.11,22.9.2009
2,84,152.40,NaN,NaN,NaN,132.70,NaN,NaN,NaN,113.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,490.36,0.11,23.9.2009
3,83,147.00,NaN,NaN,NaN,127.25,NaN,NaN,NaN,108.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,486.99,0.11,24.9.2009
4,82,145.55,NaN,NaN,NaN,125.95,NaN,NaN,NaN,106.75,...,3.8,NaN,NaN,NaN,1525.0,NaN,NaN,484.11,0.11,25.9.2009

# Hedging

The fundamental idea of hedging is to immunize the current position in derivative instruments against changes in the underlying asset. Hedging is set up by taking an opposite position in the underlying (i.e. long call, short asset). The size of the hedging positon is dependent on **the hedging strategy** used.

Various hedging strategies are considered below.

### Accuracy of hedging

Hedging strategy can be measured by the average accuracy of the hedge. Let $P_t$ be the derivative portfolio and $R_t$ the replicating (hedge) portfolio.

$$E=\frac{1}{N}\sum_{i=1}^N\bigg((C_i-C_{i-1})-\Delta_{i-1}(S_i-S_{i-1})\bigg)^2$$

# Delta hedging (single option)

Delta hedging is set up as following

$$P_t=C_t-\Delta_t S_t$$

that is, portfolio $P_t$ consists being long call ($C_t:=$ price of an call at $t$) and short $\Delta$-units of the underlying ($S_t:=$ price of the underlying at $t$).

Now at time $t=0$, we form the portfolio

$$P_0=C_0-\Delta_0 S_0$$

Given our **rehedging frequency** k, the portfolio is rehedged. That is new $\Delta_{0+k}$ is calculated and corredponding portfolio $P_{0+k}$ is formed. Note: Variations in $C_{0+k}$ and $S_{0+k}$ are stochastic.

Delta is calculated by solving **implied volatility** from $C_t$ and using this to compute $\Delta_t$

### Data

Consider an at-the-money (ATM) option, maturing at 15.01.2010. As suggested in the assignment, let $t_0=$ 45 days to maturity.

In [64]:
isx_m45 = isx15012010C[isx15012010C.shape[0]-45:]
isx_m45.iloc[0]['sp500_spot'] # S&P500 spot

516.09

Since at $t_0$: $S_0=516.09$, call with $E=515$ is closest we can get to ATM. Unfortunately, price series for this options is not complete (consists NaN values). Hence $E=520$ is chosen, which is in-the-money (ITM).

In [70]:
isx_m45_E515 = isx_m45[['days_to_mat',520,'sp500_spot','rf']]
isx_m45_E515.head()

    days_to_mat   520  sp500_spot    rf
41           45  13.3      516.09  0.07
42           44  13.8      516.54  0.07
43           43  10.2      510.35  0.07
44           42   9.5      508.79  0.04
45           41  11.6      516.00  0.04

### Results

In [83]:
pd.options.mode.chained_assignment = None # suppress SettingWithCopy warning

implied_vola_rows = lambda row: solve_implied_vola(row[520],row['sp500_spot'],520,row['days_to_mat'],row['rf'])
isx_m45_E515['implied_vola'] = isx_m45_E515.apply(implied_vola_rows, axis=1).values

Maximum iterations reached. Solution is NOT within the error bound.

In [80]:
delta_rows = lambda row: delta_call(row['sp500_spot'],520,row['days_to_mat'],row['rf'],row['implied_vola'])
isx_m45_E515['delta'] = isx_m45_E515.apply(delta_rows, axis=1)

In [81]:
isx_m45_E515.head()

    days_to_mat   520  sp500_spot    rf  implied_vola     delta
41           45  13.3      516.09  0.07      0.181326  0.563495
42           44  13.8      516.54  0.07      0.187510  0.561783
43           43  10.2      510.35  0.07      0.187954  0.556205
44           42   9.5      508.79  0.04      0.202831  0.531685
45           41  11.6      516.00  0.04      0.181000  0.538508